<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :appointment_id %><br>
      <%= f.collection_select :appointment_id, Appointment.all, :id, :id %>
    </div>

  <div class="field">
    <%= f.label :diagnosis_id %><br>
    <%= f.collection_select :diagnosis_id , Diagnosis.all, :id, :diagnosis_code %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
