<h1 class="fancy">Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Diagnosis</th>
      <th>Appointment Id</th>
      <th>Physician Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.diagnosis_id %></td>
        <td><%= invoice.appointment_id %></td>
        <td><%= invoice.notes %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
