<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment Id:</strong>
  <%= @invoice.appointment_id %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @invoice.diagnosis_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
