<h1 class="fancy">Listing Diagnoses</h1>

<a href="http://www.dermadvocate.net/library/articles/dermatology-icd-9-codes-new">Dermatology ICD9 Codes</a>

<table>
  <thead>
    <tr>
      <th>Diagnosis code</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.diagnosis_code %></td>
        <td><%= diagnosis.description %></td>
        <td><%= diagnosis.amount %></td>
        <td><%= link_to 'Show', diagnosis %></td>
        <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
        <td><%= link_to 'Destroy', diagnosis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnosis', new_diagnosis_path %>

