<p id="notice"><%= notice %></p>

<a href="http://www.dermadvocate.net/library/articles/dermatology-icd-9-codes-new">Dermatology ICD9 Codes</a>

<p>
  <strong>Diagnosis code:</strong>
  <%= @diagnosis.diagnosis_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnosis.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @diagnosis.amount %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>

