<%= form_for(@time_slot) do |f| %>
  <% if @time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

      <ul>
      <% @time_slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Slot_time %><br>
    <%= f.time_select :s_time %>
  </div>
  <div class="field">
    <%= f.label :Slot_date %><br>
    <%= f.date_select :s_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
