<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @time_slot.s_time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_slot.s_date %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
