<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :User_name %><br>
    <%= f.text_field :u_name %>
  </div>
  <div class="field">
    <%= f.label :User_title %><br>
    <%= f.text_field :u_title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
