<p id="notice"><%= notice %></p>

<p>
  <strong>User Name:</strong>
  <%= @user.u_name %>
</p>

<p>
  <strong>User Title:</strong>
  <%= @user.u_title %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
