<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @physician.f_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @physician.l_name %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
