<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.f_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.l_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
