// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1#title {
  color: black;

}

h1.fancy {
  background-color: lightcyanblue;
  padding: 23px;
}
