<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_name %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :physician_name %><br>
    <%= f.collection_select :physician_id, Physician.all, :id, :full_name  %>
  </div>
  <div class="field">
    <%= f.label :Appointment_date %><br>
    <%= f.date_select :ap_date %>
  </div>
    <div class="field">
      <%= f.label :slot_time %><br>
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :s_time %>
    </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
