<h1 class="fancy">Listing Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment Id</th>
      <th>Patient</th>
      <th>Physician</th>
      <th>Time slot</th>
      <th>Reason</th>
      <th>Physician Notes</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.id %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.physician_id %></td>
        <td><%= appointment.time_slot_id %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.notes %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Cancel Appointment', appointment, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
